@include full-height-page-background;

body {
  overflow: hidden;
}

.page__container {
  margin: $md_margin;
  padding: $md_padding;
  height: 100% ;
  box-shadow: $element_shadow;
  background-color: $secondary_blue;

  .table__container {
    margin: $md_margin-vertical $lg_margin;
  }
}
