@mixin full-height-page-background($html-background: $secondary_yellow){

  html {
    height: 100%;
  }

  body {
    background: $html-background;
    height: 100%;
  }
}

@mixin round-left-side($radius: $element_border-radius){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin round-right-side($radius: $element_border-radius){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin draw-square($side) {
  width: $side;
  height: $side;
}

%container-x-overflow {
  max-width: 100%;
  overflow-x: auto;
}

%center-horizontally-container-elements {
  display: flex;
  justify-content: center;
}


%center-container-elements {
  @extend %center-horizontally-container-elements;
  align-items: center;
}